WeChatServer3.0/.vs
WeChatWin2.0/.vs
WechatWin/.vs
/.vs
screenwidget/.vs
MyThread/
QT_QThreadPool/QThreadPool/QThreadPool.pro.user
QT_QThreadPool/build-QThreadPool-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
QT_QThreadPool/build-QThread_01-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
QT_QThreadPool/build-QThread_02-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
TCP_UDP_Assistant/
WeChatServer/.vs
bin/
build-colorwidget-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
build-screenwidget-Desktop_Qt_5_12_12_MinGW_64_bit-Debug/
colorwidget/
ScreenshotTool/.vs
MyVideoPlayer/.vs
3-0voice_player/
AudioPlay/
bin/
build-3-0voice_player-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
build-MyAudioPlay-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
colorwidget/
Demo_MessageChat_Qt/
FileTransfer-1/
LightMusicPlayer/
listWidget/
music-wwy/
MyAudioPlay/
MyServerDemo/
MyVideoPlayer/
QT_QThreadPool/
Qt5-MusicPlayer/
QtMusicPlayer/
QtNetwork_sendPicture/
QtTcpImage/
ScreenshotTool/
screenwidget/
TCP_UDP_Assistant/
VideoPlayer/